.header {
  margin: 2rem 0;
}
.categoriesList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.category {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  gap: 10px;
 

  padding: 1rem 2rem;
  border-radius: 10px;
}
.imageContainer {
  height: 32px;
  width: 32px;
  flex: 1;
  border-radius: 50%;
  position: relative;
}
.imageContainer img {
  object-fit: cover;
  border-radius: 50%;
}

.category.style {
  background-color: #57c4ff31;
}

.category.fashion {
  background-color: #da85c731;
}

.category.food {
  background-color: #7fb88133;
}

.category.travel {
  background-color: #ff795736;
}

.category.culture {
  background-color: #ffb04f45;
}

.category.coding {
  background-color: #5e4fff31;
}
